.map-container-2{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-2 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.classesImage {
    margin: 0 !important;
    width: 0 !important;
    height: 0 !important;
}

.classesContainer .active {
    background-color: white !important;
    color: black !important;
    border-radius: 0 !important;
}

.classesContainer .nav-link:hover {
    background-color: white !important;
    color: black !important;
    border-radius: 0 !important;
}

.classesContainer .nav-link {
    padding-bottom: 20% !important;
    padding-top: 20% !important;
    color: white;
    padding-left: 2% !important;
}

.login label {
    text-align: left !important;
}

.signUp {
    margin-top: 5% !important;
}

.login p {
    margin-bottom: 10% !important;
}

.login input {
    border: 1px solid #dbdbdb;
}

.username {
    width: 90% !important;
    margin-bottom: 5% !important;
    padding: 2% !important;
}

.password {
    width: 90% !important;
    margin-bottom: 5% !important;
    padding: 2% !important;
}

.fistLogin {
    width: 20% !important;
}

.logoLogin {
    width: 70% !important;
}

.login {
    background-color: rgba(255,255,255,1);
    padding-top: 20% !important;
    padding-bottom: 15% !important;
    margin-top: 50% !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
    margin-bottom: 50% !important;
    text-shadow: none;
    border-radius: 20px;
}

.loginContainer {
    text-align: center !important;
    background: url('images/login.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 3px 3px 6px black;  

}

.classes {
    margin-bottom: 5% !important;
    background-color: #f9f9f9;
    padding: 4% !important;
}

.classesTitle, .classesTime, .classesParagraph {
    margin-bottom: 1% !important;
}

.missingClass {
    text-align: center !important;
    padding-top: 50% !important;
    padding-bottom: 50% !important;
}

.mission h4 {
    margin-bottom: 2% !important;
}

.mission p {
    margin-bottom: 20% !important;
}

.mission {
    color: white !important;
    text-align: center;
    padding-left: 20% !important;
    padding-right: 20% !important;
}

.certContainerMain {
    padding: 10% !important;
}

.certContainer {
    background-color: #17176d !important;
    border-radius: 5px;
    color: white;
    margin-bottom: 45% !important;
}

.certContainer p {
    text-align: left !important;
    top: 25% !important;
    margin: 0 !important;
}

.certContainer img {
    margin-top: -20% !important;
    margin-bottom: -30% !important;
}

.footerNav a {
    padding-left: 5% !important;
    padding-right: 5% !important;
    color: white !important;
}

.footerNav {
    text-align: center !important;
    margin-top: 15% !important;
    margin-bottom: -6% !important;
}

.nav-link {
    transition-duration: 0.5s !important;
}

.homeButtons input {
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    padding-left: 8% !important;
    padding-right: 8% !important;
    background-color: #17176d !important;
    color: white !important;
    border: none !important;    
    text-shadow: 3px 3px 2px black !important;    
    transition-duration: 0.5s !important;
}

.homeButtons input:hover {
    background-color: #3636aa !important;
}

.homeButtons {
    margin-bottom: 10% !important;
    text-align: center !important;
}

.testContainer {
    padding-left:10% !important;
    padding-right:10% !important;
    padding-bottom: 10% !important;
}

.testimonialImage {
    border-radius: 50% !important;
    margin-top: -25% !important; 
    border: solid 5px #17176d;
    width: 50% !important;
    margin-bottom: 5% !important;
}

.testimonials {
    text-align: center;
    justify-content: center;
    margin-bottom: 10% !important;
}

.testimonialBox {
    background-color: white;
	height: 85% !important;
	border-radius: 30px 30px 0 30px;
    box-shadow: 3px 3px 8px black;
    width: 200px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 10% !important;
}

.pin {
    width: 15% !important;
}

.localGym {
    color: white;
    text-align: center;
    padding-bottom: 3% !important;
    padding-left: 20% !important;
    padding-right: 20% !important;
    margin-top: 2% !important;
}

.testimonialBottom {
	background-color:#17176d;
	border-radius: 0 0 0 30px;
    color: white;
    text-shadow: 3px 3px 3px black;
}

.testimonialBottom p {
    padding-bottom: 10% !important;
}

.testimonialTop {
    padding-top: 35% !important;
    padding-bottom: 65% !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
}

.tryButton {
    padding-left: 15% !important;
    padding-right: 15% !important;
    padding-top: 1% !important;
    padding-bottom: 1% !important;
    background: none !important;
    color: white !important;
    text-shadow: 3px 3px 3px black !important;
    transition-duration: 0.5s !important;
}

.tryButton:hover {
    background: rgba(255, 255, 255, 0.2) !important;
    text-shadow: 3px 3px 6px black !important;

}

* {
    margin: 0 !important;
    padding: 0 !important;
}

.homePage {
    text-align: center !important;
    color: white !important;
    top: 30% !important;
    padding-bottom: 20% !important;
    padding-top: 25% !important;
    background: url('images/curl.jpg');
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;  
    text-shadow: 3px 3px 6px black;  
}


.classesPage {
    text-align: center !important;
    color: white !important;
    padding-top: 30% !important;
    padding-bottom: 25% !important;
    background: url('images/classes.jpg');
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;  
    text-shadow: 3px 3px 6px black;  
}

.footerForm {
    margin-top: 5% !important;
    padding-right: 2.5% !important;
    padding-left: 2.5% !important;
}

.footerText {
    padding: 10% !important;
    padding-top: 5% !important;
}

.copyRight {
    text-align: center !important;
}

#signIn {
    background-color: #17176d !important;
    color: white !important;
    width: 40% !important;
    border: none !important;    
    text-shadow: 3px 3px 2px black !important;
    padding-bottom: 2% !important;
    padding-top: 1.5% !important;
}

#signIn:hover {
    background-color: #3636aa !important;
}

#contactSubmit {
    background-color: #17176d !important;
    color: white !important;
    width: 40% !important;
    border: none !important;    
    text-shadow: 3px 3px 2px black !important;
    padding-bottom: 2% !important;
    padding-top: 1.5% !important;
}

#contactSubmit:hover {
    background-color: #3636aa !important;
}

#contactComment {
    height: 150px !important;
}

.contactInput {
    margin-bottom:2% !important;
    width: 100% !important;
    background-color: #5b5b5b !important;
    border: none !important;
    color: white !important;
    padding-bottom: 2% !important;
    padding-top: 2% !important;
    padding-left: 3% !important;
}

.footer h4 {
    margin-bottom: 5% !important;
}

.footer p {
    margin-bottom: 8% !important;
}

.footer {
    position: bottom !important;
    padding-top: 5% !important;
    padding-left: 2% !important;
    padding-right: 2% !important;
    background: rgb(18,18,18);
    background: linear-gradient(144deg, rgba(18,18,18,1) 0%, rgba(10,10,10,1) 53%, rgba(0,0,0,1) 100%);
    margin-bottom: 0 !important;
    margin-left: 8% !important;
    margin-right: 8% !important;
    margin-top: 5% !important;
    color: white !important;
}

.navContact {
    text-align: right !important;
    padding-right: 2% !important;
    color: white !important;
}

.navContact img {
    margin-left: 2% !important;
    margin-right: 0.5% !important;
}

.social {
    width: 50% !important;
}

.phone {
    width: 3% !important;
}

.email {
    width: 4.5% !important;
    margin-left: 2% !important;
}

.navbar {
    background-color: black !important;
    position: fixed !important;
}

.container-fluid {
    padding: 0 !important;
    margin: 0 !important;
    background: rgb(0,0,0) !important;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,20,1) 53%, rgba(0,3,41,1) 100%) !important;
}

.fist {
    width: 40px;
    margin-top: 1% !important;
    margin-bottom: 1% !important;
    margin-left: 1% !important;
    text-align: center !important;
}

.logo {
    width: 160px;
}

@media (min-width: 320px) {
    
    .fist {
        width: 50px;
    }

    .logo {
        width: 180px;
    }
   
}

@media (min-width: 375px) {
   
    .homePage h4 {
        margin-bottom: 1% !important;
    }

    .testimonialBox {
        width: 250px !important;
    }

    .classesContainer .nav-link {
        text-align: center;
    }
}

@media (min-width: 480px) {
    .classesContainer .nav-link {
        padding-top: 10% !important;
        padding-bottom: 10% !important;
    }

    .missingClass {
        text-align: center !important;
        padding-top: 20% !important;
        padding-bottom: 20% !important;
    }
}

@media (min-width: 580px) {
    .pin {
        width:10% !important;
    }

    .tryButton {
        padding-right: 8% !important;
        padding-left: 8% !important;
    }
}

@media (min-width: 768px) {
    .logo {
        width: 220px;
    }

    .fist {
        width: 60px;
    }
    
    .footer {
        margin-top: 0 !important;
    }

    .homePage h4 {
        font-size: 250% !important;
    }
    .tryButton {
        font-size: 130% !important;
    }
    .testimonialBox1 {
        height: 70% !important;
    }

    .certContainerMain {
        padding: 2% !important;
        margin-bottom: -15% !important;
    }

    .cert1 {
        margin-bottom: 63% !important;
    }

    .cert2 {
        margin-top: 17% !important;
    }

    .cert3 {
        margin-bottom: 62% !important;
    }

    .login {
        margin-top: 20% !important;
        margin-bottom: 20% !important;
        padding-top: 9% !important;
        padding-bottom: 7% !important;
    }

    
    .classesParagraph {
        position: absolute;
        padding: 2% !important;
        background-color: white !important;
        width: 50% !important;
    }

    .classesImage {
        margin-left: 30% !important;
        width: 70% !important;
        height: 100% !important;
    }
    .classes {
        position: relative !important;
    }

    #crossfit {
        margin-top: 51% !important;
        margin-left: 30% !important;
        width: 70% !important;
    }
        
    #zumba {
        margin-top: 25% !important;
        margin-left: 30% !important;
        width: 70% !important;
    }

    #pilates {
        margin-top: 35% !important;
        margin-left: 30% !important;
        width: 70% !important;
    }

    #biking {
        margin-top: 21% !important;
        margin-left: 30% !important;
        width: 70% !important;
    }
}

@media (max-width: 991px) { 
    .navContact {
        width: 0 !important;
        color: black;
        font-size: 0;
        height: 0;
    }   
    

    .navLinks .nav-link:hover {
        color: black !important;
        background-color: rgba(255, 255, 255, 0.9);
    }

    .navbar-toggler {
        margin-right: 2% !important;
        padding-left: 1% !important;
        padding-right: 1% !important;
    }
}

@media (min-width: 991px) { 
    .nav-item {
        margin-left: 8% !important;
    }

    .fist {
        width: 50px;
    }

    .logo {
        width: 550px;
        padding-right: 22% !important;
    }

    .navbar {
        padding-bottom: 0 !important;
    }

    .navLinks {
        z-index: 1 !important;
    }

    .phone {
        margin-bottom: 0.5% !important;
    }

    .email {
        margin-bottom: 0.5% !important;
    }
    .social {
        width: 40% !important;
    }
}

@media (min-width: 1024px) { 
    .homePage h4 {
        font-size: 350% !important;
    }
    
    .pin {
        width:8% !important;
    }
    .testimonialBox {
        width: 300px !important;
    }

    .loginContainer {
        background-position: center top;
    }

    .login {
        padding-left: 2% !important;
        padding-right: 2% !important;
    }

    .navLinks {
        font-size: 120% !important;
    }

    .logo {
        width: 750px;
    }

    .fist {
        width: 65px;
    }

    .login {
        font-size: 150% !important;
    }

    .login input[type=checkbox]
    {
        zoom: 1.5;
    }

    .footer {
        font-size: 120% !important;
    }
    .classesPage, .localGym {
        font-size: 140% !important;
    }
    .classesContainer .nav-link {
        padding-top: 8% !important;
        padding-bottom: 8% !important;
    }
    .classesContainer {
        font-size: 130% !important;
    }

    .missingClass {
        text-align: center !important;
        padding-top: 10% !important;
        padding-bottom: 10% !important;
    }
}


@media (min-width: 1440px) {

    .testimonialBox1 {
        height: 60% !important;
    }

    p, h1, h2, h3, h4, h5, h6, form {
        font-size: 130% !important;
    }

    .navLinks {
        font-size: 150% !important;
    }

    .navContact {
        font-size: 110% !important;
    }

    .logo {
        width: 800px;
    }

    .fist {
        width: 80px;
    }

    .login {
        font-size: 150% !important;
    }

    .signUp {
        font-size: 100% !important;
    }

    .login input[type=checkbox]
    {
        zoom: 2;
    }

    .footer {
        font-size: 125% !important;
    }
    .classesPage, .localGym {
        font-size: 180% !important;
    }

    .classesContainer .nav-link {
        padding-top: 6% !important;
        padding-bottom: 6% !important;
    }

    .classesContainer {
        font-size: 150% !important;
    }

    .missingClass {
        text-align: center !important;
        padding-top: 8% !important;
        padding-bottom: 8% !important;
    }
}

@media (min-width: 1500px) { 
    .testimonialBox {
        width: 350px !important;
    }
}

@media (min-width: 2000px) { 
    .testimonialBox {
        width: 400px !important;
    }
}

@media (min-width: 2500px) { 
    .testimonialBox {
        width: 450px !important;
    }
}

@media (min-width: 2560px) {
    p, h1, h2, h3, h4, h5, form {
        font-size: 160% !important;
    }

    .navLinks {
        font-size: 270% !important;
    }

    .navContact {
        font-size: 160% !important;
    }

    .fist {
        width: 140px;
    }

    .login {
        font-size: 200% !important;
    }

    .login input[type=checkbox]
    {
        zoom: 3;
    }

    .footer {
        font-size: 170% !important;
    }

    .localGym, .homeButtons, .mission, .certContainerMain, .tryButton {
        font-size: 170% !important;
    }

    .testimonials {
        font-size: 160% !important;
    }

    .classesPage, .localGym {
        font-size: 250% !important;
    }

    .classesContainer .nav-link {
        padding-top: 5% !important;
        padding-bottom: 5% !important;
        font-size: 180% !important;
    }

    .classesContainer {
        padding-left: 10% !important;
        padding-right: 10% !important;
        font-size: 180% !important;
    }
}